<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление нового журнала</title>
</head>
<body>
     <form action="/magazine">
         <button id="new_magazine" name="new_magazine">Новый журнал</button>
     </form>
         <button id="catalog" name="catalog">Перейти в каталог</button>
         <button id="new_book" name="new_book">Новая книга</button>
         <button id="new_author" name="new_author">Новая автор</button>
         <button id="new_publishing_house" name="new_publishing_house">Новое издательство</button>
</body>
</html>